.goods {
  //overflow: hidden;
  width: 100%;
  height: 100%;
  .swiper {
    width: 100%;
    height: 375px;
    position: relative;

    .swiper-container {
      width: 100%;
      height: 100%;
      image {
        width: 100%;
        height: 100%;
      }
    }

    .share {
      position: absolute;
      border-radius: 20px 0 0 20px;
      width: 76px;
      height: 32.5px;
      line-height: 32.5px;
      text-align: center;
      right: 0;
      top: 25px;
      background: #e0a354;
      color: #fff;
      font-size: 12px;
    }
  }

  .goods-info {
    width: 100%;
    //height: 306rpx;
    background: #fff;
    margin: 0 auto;
    border-bottom: 1px solid #f4f4f4;

    .c {
      height: 100%;

      p {
        display: block;
        text-align: left;
        padding: 0 15px;
      }

      p:nth-child(1) {
        font-size: 14px;
        color: rgba(16, 16, 16, 1);
        height: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        display:-webkit-box; //作为弹性伸缩盒子模型显示。
        -webkit-box-orient:vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
        -webkit-line-clamp:2; //显示的行
        margin: 5px 0px;
      }

      p:nth-child(2) {
        margin-bottom: 8px;
        line-height: 23px;
        color: rgba(237, 23, 9, 1);
        font-family: Arial;
        span.realPrice{
          font-size: 16px;
          color: rgba(237, 23, 9, 1);
        }
        span.virtualPrice{
          display: inline-block;
          margin-left: 10px;
          font-size: 12px;
          color: rgba(102, 100, 102, 1);
          text-decoration:line-through;
        }
        span.monthlySales{
          display: inline-block;
          float: right;
          color: rgba(102, 100, 102, 1);
          font-size: 12px;
          font-family: Arial;

        }

      }

      p:nth-child(3) {
        text-decoration:line-through;
        line-height: 17px;
        color: rgba(102, 100, 102, 1);
        font-size: 12px;
        font-family: Arial;

      }
    }
  }
  .productDetail {
    height: calc(100% - 305px);
    margin-top: 13px;
    .productTopNav {
      width: 100%;
      height: 40px;
      display: flex;
      .productNav {
        float: left;
        font-size: 14px;
        //width: 33.3333333%;
        flex: 1;
        height: 34px;
        line-height: 34px;
        text-align: center;
        //border-bottom: 1px solid #F5F5F5;
        p{
          margin: 0 auto;
          font-family: Arial;
          color: rgba(16, 16, 16, 1);
          border: 1px solid rgba(187, 187, 187, 1);
          border-left: 0px;
        }
        p:nth-child(3){
          border-right: 0px;
        }
        p.bottomLines {
          background-color: #666666;
          color: #FFFFFF;
          border: 1px solid rgba(255, 255, 255, 0);
        }
      }
      .productNav:nth-child(3){
        p{
          border-right: 0px;
        }
      }

    }
    .detailsInfo {
      //height: 100%;
      display: none;
      margin-bottom: 55px;
      .detail{
        margin: 0 auto;
        padding-bottom: 45px;
        image{
          margin: 0 auto;
          width: 100%;
        }
      }
      .attribute {
        padding: 10px 15px;
        background: #fff;
        margin-bottom: 10px;
        font-size: 13px;

        .item {
          display: flex;
          //background: #f7f7f7;
          //padding: 10px 0;
          margin: 10px;

          div:nth-child(1) {
            width: 67px;
            color: #999;
          }

          div:nth-child(2) {
            flex: 1;
            text-overflow: ellipsis;
          }
        }
      }
      .common-problem {
        margin-bottom: 55px;

        .h {
          padding: 17.5px 0;
          background: #fff;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          .line {
            display: inline-block;
            height: 0.5px;
            width: 50px;
            background: #ccc;
          }

          .title {
            padding: 0 12.5px;
            background: #fff;
          }
        }

        .b {
          padding: 0px 15px;
          background: #fff;

          .item {
            padding-bottom: 12.5px;

            .question-box {
              display: flex;

              .spot {
                height: 4px;
                width: 4px;
                background: #b4282d;
                border-radius: 50%;
                margin-top: 5.5px;
              }

              .question {
                line-height: 15px;
                padding-left: 4px;
                display: block;
                font-size: 13px;
                padding-bottom: 7.5px;
                color: #303030;
              }
            }

            .answer {
              line-height: 20px;
              padding-left: 8px;
              font-size: 13px;
              color: #787878;
            }
          }
        }
      }
    }
    div.detailText {
      display: block;
    }
  }

  .bottom-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    display: flex;
    background: #fff;
    z-index: 10;
    text-align: center;
    font-family: Microsoft Yahei;
    border-top: 1px solid #BBBBBB;
    box-sizing: border-box;
    div.customerService {
      width: 50px;
      color: rgba(16, 16, 16, 1);
      font-size: 12px;

      div{
        width: 100%;
        height: 23px;
        line-height: 23px;
        .collect {
          height: 100%;
          width: 30px;
          line-height: 23px;
          margin-top: 5px;
        }
        span{
          display: inline-block;
          line-height: 23px;
          //position: relative;
          //top: -5px;
        }
      }

    }

    div.shareFriend {
      width: 162px;
      background-color: rgba(255, 255, 255, 0);
      color: rgba(251, 90, 25, 1);
      font-size: 16px;
      border: 1px solid rgba(251, 90, 25, 1);
      box-sizing: border-box;
    }

    div.purchaseImmediately {
      flex: 1;
      background-color: rgba(251, 90, 25, 1);
      color: rgba(255, 255, 255, 1);
      font-size: 16px;
    }
  }
}
