.index {
  width: 100%;
  overflow: hidden;
  position: relative;

  .swiper {
    width: 100%;
    height: 208px;
    .swiper-container {
      width: 100%;
      height: 100%;

      .swiper-item {
        width: 100%;
        height: 100%;

        .slide-image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .swiperReward{
    position: fixed;
    top: 16px;
    left: 10px;
    height: 28px;
    border-radius: 14px;
    min-width: 182px;
    background-color: rgba(16, 16, 16, .38);
    color: red;
    font-size: 14px;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(187, 187, 187, 1);
    z-index: 1000;
    .swiper-container {
      width: 100%;
      height: 100%;
      .swiper-item {
        width: 100%;
        height: 100%;

        span {
          display: inline-block;
          width: calc(100% - 35px);
          height: 100%;
          line-height: 28px;
          font-size: 12px;
          float: right;
        }
        .slide-image {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          display: inline-block;
          float: left;
        }
      }
    }

  }
  .channel {
    margin-top: 5px;
    ul {
      width: calc(100% - 10px);
      margin: 0 auto;
      .scroll-view {
        width: 100%;
        white-space: nowrap;
        li {
          min-width: 60px;
          height: 30px;
          margin: 0 5px;
          display: inline-block;

          span.rewardTextSpan {
            width: 100%;
            display: inline-block;
            height: 100%;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 15px;
            line-height: 22px;
            float: left;
          }
          span.spanLine{
            width: 80%;
            display: none;
            margin-left: 10%;
            text-align: center;
            height: 1px;
            float: left;
            border-bottom: 2px solid red;
          }
          span.rewardTextSpan.changeColor{
            color: red;
          }
          span.spanLine.changeHideShow{
            display: inline-block;
          }
        }
      }
    }
  }

  .newcategory {
    margin-top: 10px;
    padding: 0 5px 12px 5px;
    .sublist {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      height: 373px;
      margin: 0 auto;

      div {
        width: 100%;
        height: 100%;
        background: #fff;
        margin-bottom: 5px;
        padding-bottom: 5px;

        img {
          display: block;
          width: 100%;
          height: calc(100% - 75px);
          margin: 0 auto;
        }

        p {
          margin-bottom: 2px;
          font-size: 14px;
          color: rgba(16, 16, 16, 1);
          text-align: left;
          padding: 0 15px;
          font-family: SourceHanSansSC-regular;
        }
        p:nth-child(2) {
          overflow: hidden;
          text-overflow: ellipsis;
          display:-webkit-box; //作为弹性伸缩盒子模型显示。
          -webkit-box-orient:vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
          -webkit-line-clamp:2; //显示的行
          font-size: 14px;
          color: #101010;
          height: 35px;
          margin-bottom: 5px;
        }

        p:nth-child(3) {
          font-size: 16px;
          font-family: Arial;
          line-height: 23px;
          span.realPrice{
            display: inline-block;
            text-align: left;
            color: rgba(237, 23, 9, 1);
          }
          span.virtualPrice{
            display: inline-block;
            margin-left: 10px;
            font-size: 12px;
            text-align: left;
            color: rgba(102, 100, 102, 1);
            text-decoration:line-through;
          }
          span.purchaseImmediately{
            display: inline-block;
            width: 73px;
            height: 23px;
            float: right;
            border-radius: 4px;
            background-color: rgba(229, 28, 35, 1);
            color: rgba(255, 255, 255, 1);
            font-size: 14px;
            text-align: center;
            font-family: Microsoft Yahei;
          }
        }
      }
      div:nth-child(2n) {
        margin-left: 5px;
      }
    }
  }
}
